Source: jcathy
Section: utils
Priority: optional
Maintainer: Simone Rossetto <simros85@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), ant, default-jdk (>= 1:1.6) | java-sdk | sun-java6-jdk
Standards-Version: 3.9.5
Homepage: https://github.com/droscy/jcathy
Vcs-Git: https://github.com/droscy/jcathy.git
Vcs-Browser: https://github.com/droscy/jcathy

Package: jcathy
Architecture: all
Depends: default-jre (>= 1:1.6) | java-runtime | sun-java6-jre, libhsqldb-java (>= 2.2.0), ${misc:Depends}
Description: Simple cataloguer for removable devices
 This program creates a catalog of files and folders of removable devices
 (or folder in the system) and stores them in a database, assigning a
 unique identifier (chosen by the user) to that volume.
 .
 This database can be searched later by file/folder name to get the name of
 the volume which that file/folder belongs to, so users can easily locate
 their files.

